ata:
  prefix_exec: /home/sonata/src/hashpipe/src/
  prefix_lib: /home/sonata/src/hpguppi_daq/src/.libs/
  # hpguppi_plugin:
  logdir: /home/sonata/logs
  # command_prefix:
  setup_commands:
    - irqbalance --oneshot
    - systemctl stop irqbalance
    - 16: 
        - ethtool -L $BINDHOST combined 32
        - [
          "set_irq_affinity_cpulist.sh 14,15 $BINDHOST",
          "set_irq_affinity_cpulist.sh 30,31 $BINDHOST",
        ]
        - cpupower -c 0-31 idle-set -d 2
      24:
        - ethtool -L $BINDHOST combined 48
        - [
          "set_irq_affinity_cpulist.sh 22,23 $BINDHOST",
          "set_irq_affinity_cpulist.sh 46,47 $BINDHOST",
        ]
        - cpupower -c 0-47 idle-set -d 2
    - ethtool -A $BINDHOST rx off tx off
    - ethtool -C $BINDHOST adaptive-rx on rx-frames 8 rx-usecs 0
    - ethtool -G $BINDHOST rx 8192
    - cpupower frequency-set -g performance
  hashpipe_keyfile: /home/sonata
  environment:
    - 16:
        - IRQBALANCE_BANNED_CPUS=00000000,3ffe3ffe
      24:
        - IRQBALANCE_BANNED_CPUS=00003fff,fe3ffffe
    - ATASHAREDIR="/opt/mnt"
    - LD_LIBRARY_PATH=/home/sonata/src/hashpipe/src/.libs:/home/sonata/dev/hdf5_tests/build:/lib/x86_64-linux-gnu/:/opt/mnt/lib
  options:
    - ibv:
        - HPCONFIG=IBV-FTP-DISK
        - PROJID=dmpauto
      ibv_blade:
        - HPCONFIG=IBV-FTP-BLADE-DISK
        - PROJID=blade
      ibv_xgpu:
        - HPCONFIG=IBV-TFP_DP4A-xGPU-UVH5
        - BACKEND=UVH5
        - PROJID=xGPU
        - UVH5TELP=/opt/mnt/share/telinfo_ata.toml
        - UVH5OBSP=/opt/mnt/share/obsinfo.toml
    - DIRECTIO=1
    - IBVPKTSZ=42,16,8208
    # - IBVPKTSZ=42,16,4112
    - CUDADEV=$INSTANCE
    - BINDPORT=50000
    - TELESCOP=ATA
  instance_numanode_bind: [0, 1]
  instance_datadir: [/mnt/buf0, /mnt/buf1]
  instance_bindhost: [enp97s0f1, enp225s0f1]
  thread_mask_lengths:
    hpguppi_ata_ibv_payload_order_thread:
      12
  subsystem_threads:
    _:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_atasnap_pkt_to_FTP_transpose
      - null_output_thread
    ibv:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_atasnap_obs_rawdisk_thread
    ibv_blade:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_ata_blade_beamformer_thread
      - hpguppi_atasnap_obs_rawdisk_thread
    ibv_xgpu:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_ata_xgpu_thread
      - hpguppi_ata_obs_uvh5disk_thread
  cpu_core_count_config:
    16:
      instance_cpu_core_0: [1, 17]
      # instance_subsystem_thread_masks:
      #   ibv: 
      #     hpguppi_atasnap_obs_rawdisk_thread: false

    24:
      instance_cpu_core_0: [1, 25]
      # instance_subsystem_thread_masks:
      #   ibv: 
      #     hpguppi_atasnap_obs_rawdisk_thread: false
dev:
  prefix_exec: /home/sonata/dev/hashpipe/src/
  prefix_lib: /home/sonata/dev/hpguppi_daq/src/.libs/
  # hpguppi_plugin:
  logdir: /home/sonata/logs
  # command_prefix:
  setup_commands:
    - irqbalance --oneshot
    - systemctl stop irqbalance
    - 16: 
        - ethtool -L $BINDHOST combined 32
        - [
          "set_irq_affinity_cpulist.sh 14,15 $BINDHOST",
          "set_irq_affinity_cpulist.sh 30,31 $BINDHOST",
        ]
        - cpupower -c 0-31 idle-set -d 2
      24:
        - ethtool -L $BINDHOST combined 48
        - [
          "set_irq_affinity_cpulist.sh 22,23 $BINDHOST",
          "set_irq_affinity_cpulist.sh 46,47 $BINDHOST",
        ]
        - cpupower -c 0-47 idle-set -d 2
    - ethtool -A $BINDHOST rx off tx off
    - ethtool -C $BINDHOST adaptive-rx on rx-frames 8 rx-usecs 0
    - ethtool -G $BINDHOST rx 8192
    - cpupower frequency-set -g performance
  hashpipe_keyfile: /home/sonata
  environment:
    - 16:
        - IRQBALANCE_BANNED_CPUS=00000000,3ffe3ffe
      24:
        - IRQBALANCE_BANNED_CPUS=00003fff,fe3ffffe
    - ATASHAREDIR="/opt/mnt"
    - LD_LIBRARY_PATH=/home/sonata/src/hashpipe/src/.libs:/home/sonata/dev/hdf5_tests/build:/lib/x86_64-linux-gnu/:/opt/mnt/lib
  options:
    - xgpu:
        - HPCONFIG=DEV_IBV-TFPDP4A-XGPU-UVH5
        - BACKEND=UVH5
        - PROJID=xGPU
        - UVH5TELP=/opt/mnt/share/telinfo_ata.toml
        - UVH5OBSP=/opt/mnt/share/obsinfo.toml
        - XGPUINT=8
      ibv_blade_b:
        - HPCONFIG=DEV_IBV-FTP-BLADE_B-RAW
        - PROJID=blade
        - BACKEND=GUPPI
        - TELINFOP=/opt/mnt/share/telinfo_ata.toml
        - OBSINFOP=/opt/mnt/share/obsinfo.toml
        - CALWGHTP=/opt/mnt/share/ant_weights_1+0j.bin
      ibv_blade_a:
        - HPCONFIG=DEV_IBV-FTP-BLADE_A-FIL
        - PROJID=blade
        - BACKEND=FIL
        - TELINFOP=/opt/mnt/share/telinfo_ata.toml
        - OBSINFOP=/opt/mnt/share/obsinfo.toml
        - CALWGHTP=/opt/mnt/share/ant_weights_1+0j.bin
    - DIRECTIO=1
    - IBVPKTSZ=42,16,8208
    # - IBVPKTSZ=42,16,4112
    - CUDADEV=$INSTANCE
    - BINDPORT=50000
    - TELESCOP=ATA
  instance_numanode_bind: [0, 1]
  instance_datadir: [/mnt/buf0, /mnt/buf1]
  instance_bindhost: [enp97s0f1, enp225s0f1]
  thread_mask_lengths:
    hpguppi_ata_ibv_payload_order_thread:
      12
  subsystem_threads:
    xgpu:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_ata_xgpu_thread
      - hpguppi_ata_obs_uvh5disk_thread
    ibv_blade_b:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_ata_blade_beamformer_thread
      - hpguppi_ata_blade_obs_rawdisk_thread
    ibv_blade_a:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_ata_blade_beamformer_thread
      - hpguppi_ata_fildisk_thread
  cpu_core_count_config:
    16:
      instance_cpu_core_0: [1, 17]
      # instance_subsystem_thread_masks:
      #   ibv: 
      #     hpguppi_atasnap_obs_rawdisk_thread: false

    24:
      instance_cpu_core_0: [1, 25]
      # instance_subsystem_thread_masks:
      #   ibv: 
      #     hpguppi_atasnap_obs_rawdisk_thread: false
vla:
  prefix_exec: /home/cosmic/dev/hashpipe/src/
  prefix_lib: /home/cosmic/dev/hpguppi_daq/src/.libs/
  # hpguppi_plugin:
  logdir: /home/cosmic/dev/logs
  # command_prefix:
  setup_commands:
    - irqbalance --oneshot
    - systemctl stop irqbalance
    - 16: 
        - ethtool -L $BINDHOST combined 32
        - [
          "set_irq_affinity_cpulist.sh 14,15 $BINDHOST",
          "set_irq_affinity_cpulist.sh 30,31 $BINDHOST",
        ]
        - cpupower -c 0-31 idle-set -d 2
      24:
        - ethtool -L $BINDHOST combined 48
        - [
          "set_irq_affinity_cpulist.sh 22,23 $BINDHOST",
          "set_irq_affinity_cpulist.sh 46,47 $BINDHOST",
        ]
        - cpupower -c 0-47 idle-set -d 2
    - ethtool -A $BINDHOST rx off tx off
    - ethtool -C $BINDHOST adaptive-rx on rx-frames 8 rx-usecs 0
    - ethtool -G $BINDHOST rx 8192
    - cpupower frequency-set -g performance
  hashpipe_keyfile: /home/cosmic
  environment:
    - 16:
        - IRQBALANCE_BANNED_CPUS=00000000,3ffe3ffe
      24:
        - IRQBALANCE_BANNED_CPUS=00003fff,fe3ffffe
    - LD_LIBRARY_PATH=/home/cosmic/dev/hashpipe/src/.libs:/home/cosmic/src/xGPU/src:/home/cosmic/src/uvh5c99/build:/home/cosmic/src/uvh5c99/build/subprojects/radiointerferometryc99:/home/cosmic/dev/blade/install:/home/cosmic/dev/blade/install/lib:/home/cosmic/dev/blade/install/lib/x86_64-linux-gnu
    - ["CUDA_VISIBLE_DEVICES=0,1", "CUDA_VISIBLE_DEVICES=2,3"]
  options:
    - ibv:
        - HPCONFIG=IBV-FTP-RAW
        - PROJID=dmpauto
        - BACKEND=GUPPI
        - DIRECTIO=1
      xgpu:
        - HPCONFIG=IBV-TFP_DP4A-XGPU-UVH5
        - PROJID=xgpu
        - BACKEND=uvh5
        - UVH5TELP=/home/cosmic/dev/telinfo_vla.toml
        - POLS=rl
        - NPOL=2
    - DIRECTIO=1
    - IBVPKTSZ=42,16,8192
    - ["CUDADEV=0", "CUDADEV=0"]
    - BINDPORT=50000
    - TELESCOP=VLA
  instance_numanode_bind: [0, 1]
  instance_datadir: [/mnt/buf0, /mnt/buf1]
  instance_bindhost: [enp97s0f1, enp225s0f1]
  thread_mask_lengths:
    hpguppi_ata_ibv_payload_order_thread:
      12
  subsystem_threads:
    ibv:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_atasnap_obs_rawdisk_thread
    xgpu:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_ata_xgpu_thread
      - hpguppi_ata_obs_uvh5disk_thread
  cpu_core_count_config:
    16:
      instance_cpu_core_0: [1, 17]
    24:
      instance_cpu_core_0: [1, 25]
vladev:
  prefix_exec: /home/cosmic/dev/hashpipe/src/
  prefix_lib: /home/cosmic/dev/hpguppi_daq/src/.libs/
  logdir: /home/cosmic/dev/logs
  setup_commands:
    - irqbalance --oneshot
    - systemctl stop irqbalance
    - 16: 
        - ethtool -L $BINDHOST combined 32
        - [
          "set_irq_affinity_cpulist.sh 14,15 $BINDHOST",
          "set_irq_affinity_cpulist.sh 30,31 $BINDHOST",
        ]
        - cpupower -c 0-31 idle-set -d 2
      24:
        - ethtool -L $BINDHOST combined 48
        - [
          "set_irq_affinity_cpulist.sh 22,23 $BINDHOST",
          "set_irq_affinity_cpulist.sh 46,47 $BINDHOST",
        ]
        - cpupower -c 0-47 idle-set -d 2
    - ethtool -A $BINDHOST rx off tx off
    - ethtool -C $BINDHOST adaptive-rx on rx-frames 8 rx-usecs 0
    - ethtool -G $BINDHOST rx 8192
    - cpupower frequency-set -g performance
  hashpipe_keyfile: /home/cosmic
  environment:
    - 16:
        - IRQBALANCE_BANNED_CPUS=00000000,3ffe3ffe
      24:
        - IRQBALANCE_BANNED_CPUS=00003fff,fe3ffffe
    - LD_LIBRARY_PATH=/home/cosmic/dev/hashpipe/src/.libs:/home/cosmic/src/xGPU/src:/home/cosmic/src/uvh5c99/build:/home/cosmic/src/uvh5c99/build/subprojects/radiointerferometryc99
    - ["CUDA_VISIBLE_DEVICES=0,1", "CUDA_VISIBLE_DEVICES=2,3"]
  options:
    - xgpu:
        - HPCONFIG=DEV_IBV-TFPDP4A-XGPU-UVH5
        - BACKEND=UVH5
        - PROJID=xGPU
        - UVH5TELP=/opt/mnt/share/telinfo_ata.toml
        - POLES=RL
        - BINDPORT=50000
      ibv_null:
        - HPCONFIG=DEV_IBV-NULL
      test:
        - HPCONFIG=RAW-FTP-RAW
        - BACKEND=RAW
        - PROJID=test
        - RAWSTEM=/mnt/buf1/dmpauto/GUPPI/guppi_59736_42640_74073972063_J2011-1546_0001
        - BINDPORT=0
    - IBVPKTSZ=42,16,8192
    - CUDADEV=$INSTANCE
    - TELESCOP=VLA
  instance_numanode_bind: [0, 1]
  instance_datadir: [/mnt/buf0, /mnt/buf1]
  instance_bindhost: [enp97s0f1, enp225s0f1]
  thread_mask_lengths:
    hpguppi_ata_ibv_payload_order_thread:
      12
  subsystem_threads:
    xgpu:
      - hpguppi_ibvpkt_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_ata_xgpu_thread
      - hpguppi_ata_obs_uvh5disk_thread
    ibv_null:
      - hpguppi_ibvpkt_thread
      - null_output_thread
    test:
      - guppiraw_ibv_packetize_thread
      - hpguppi_ata_ibv_payload_order_thread
      - hpguppi_atasnap_obs_rawdisk_thread
  cpu_core_count_config:
    16:
      instance_cpu_core_0: [1, 17]
    24:
      instance_cpu_core_0: [1, 25]


##################### Templates #####################
template_singular: # Singular System Configuration Definition
  # prefix_exec: /opt/mnt/bin/ # The directory for the hashpipe executable
  # prefix_lib: /opt/mnt/lib/ # The directory for the hpguppi_daq.so 
  # hpguppi_plugin: hpguppi_daq.so # The name of the hpguppi_daq plugin
  # logdir: # The directory to log to (if missing, no logging takes place)
  # command_prefix: # Commands to insert before `hashpipe` in the final command
  # setup_commands: # List of commands to run before starting the instance
  # post_commands: # List of commands to run after having started the instance
  # hashpipe_keyfile: # The value of the instance's HASHPIPE_KEYFILE environment variable
  # environment: # List of key=value environment variables for the instance
  # options: # List of status-buffer key=value options for the command (each prefixed with -o)
  # instance_numanode_bind: # $instance indexed list of numanode numbers to cpu/mem-bind the instance to (if missing numanode $instance is bound to)
  instance_datadir: # $instance indexed list of DATADIR values to set for the instance
    - /mnt/buf0
    - /mnt/buf1
  instance_bindhost: # $instance indexed list of DATADIR values to set for the instance
    - enp97s0f1
    - enp225s0f1
  # thread_mask_lengths: # thread_name=mask_length map of mask lengths for threads (otherwise assumed to be 1 (single-core threads))
  threads: # Sequential list of threads for an instance of the system
  cpu_core_count_config: [] # Either a simple list of core_counts supported 
  ########################### or
  # cpu_core_count_config:  # A core_count={} map of further configuration specifications
    # 16:
      # instance_cpu_core_0: # $instance indexed list of cpu_cores from which to start thread masking
      # instance_thread_masks: # thread=[instance_mask_list] map to $instance indexed lists of thread-masks (a thread-mask that is a list is possible for multi-core threads)
template_sub-multitudinous: # Mulitple Sub-System Configuration Definitions
  # prefix_exec: /opt/mnt/bin/ # The directory for the hashpipe executable
  # prefix_lib: /opt/mnt/lib/ # The directory for the hpguppi_daq.so 
  # hpguppi_plugin: hpguppi_daq.so # The name of the hpguppi_daq plugin
  # logdir: # The directory to log to (if missing, no logging takes place)
  # command_prefix: # Commands to insert before `hashpipe` in the final command
  # setup_commands: # List of commands to run before starting the instance
  # post_commands: # List of commands to run after having started the instance
  # hashpipe_keyfile: # The value of the instance's HASHPIPE_KEYFILE environment variable
  # environment: # List of key=value environment variables for the instance
  # options: # List of status-buffer key=value options for the command (each prefixed with -o)
  # instance_numanode_bind: # $instance indexed list of numanode numbers to cpu/mem-bind the instance to (if missing numanode $instance is bound to)
  instance_datadir: # $instance indexed list of DATADIR values to set for the instance
    - /mnt/buf0
    - /mnt/buf1
  instance_bindhost: # $instance indexed list of DATADIR values to set for the instance
    - enp97s0f1
    - enp225s0f1
  # thread_mask_lengths: # thread_name=mask_length map of mask lengths for threads (otherwise assumed to be 1 (single-core threads))
  subsystem_threads: # subsystem=[threads_list] map to
    $subsystem: # Sequential list of threads for an instance of the subsystem
  cpu_core_count_config: [] # Either a simple list of core_counts supported 
  ########################### or
  # cpu_core_count_config:  # A core_count={} map of further configuration specifications
    # 16:
      # instance_cpu_core_0: # $instance indexed list of cpu_cores from which to start thread masking
      # instance_subsystem_thread_masks: # subsystem={thread=[instance_mask_list]} map of thread maps 
        # $thread_name: to $instance indexed lists of thread-masks (a thread-mask that is a list is possible for multi-core threads)
